html[data-theme=dark] {
    --pst-color-primary: #04B46D;
    --pst-color-link: var(--pst-color-primary);
}

html[data-theme=light] {
    --pst-color-primary: #03A062;
    --pst-color-link: var(--pst-color-primary);
}

.sponsor {
    height: 100px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.col {
    flex: 0 0 50%;
    max-width: 50%;
}

.img-sponsor {
    height: 50px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.things-in-a-row-sponsor {
    display: flex;
    flex-wrap: wrap;
}

.things-in-a-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
}
