[project]
name = "datashuttle"
authors = [
    {name = "Joe Ziminski", email = "j.ziminski@ucl.ac.uk"},
    {name = "Adam Tyson", email = "code@adamltyson.com"},
    {name = "Niko Sirmpilatze", email = "niko.sirbiladze@gmail.com"},
]
description = "Organise and transfer scientific projects in BIDS format"
readme = "README.md"
requires-python = ">=3.8.0"
dynamic = ["version"]
license = {text = "BSD-3-Clause"}

dependencies = [
    "paramiko",
    "PyYAML",
    "requests",
    "rich",
    # "fancylog",
    "fancylog @ git+https://git@github.com/JoeZiminski/fancylog",
]

classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: BSD License",
]

[project.urls]
homepage = "https://github.com/neuroinformatics-unit/datashuttle"
bug_tracker = "https://github.com/neuroinformatics-unit/datashuttle/issues"
documentation = "https://github.com/neuroinformatics-unit/datashuttle"
source_code = "https://github.com/neuroinformatics-unit/datashuttle"
user_support = "https://github.com/neuroinformatics-unit/datashuttle/issues"

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "coverage",
    "tox",
    "black",
    "isort",
    "mypy",
    "pre-commit",
    "flake8",
    "setuptools_scm",
    "simplejson",
    "types-requests",
    "types-PyYAML",
    "types-appdirs",
    "types-paramiko",
    "types-simplejson",
]

[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["datashuttle*"]
exclude = ["tests*", "docs*"]

[tool.pytest.ini_options]
addopts = "--cov=datashuttle"

[tool.black]
target-version = ['py38', 'py39', 'py310']
skip-string-normalization = false
line-length = 79
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | examples
  )/
)
'''

[tool.isort]
profile = "black"
line_length = 79

[tool.setuptools_scm]

[tool.check-manifest]
ignore = [
  "*.yaml",
  ".bumpversion.cfg",
  "tox.ini",
  "tests/*",
  "tests/tests_unit/*",
  "tests/tests_integration/*",
  ".flake8"
]

[project.scripts]
datashuttle = "datashuttle.command_line_interface:main"
